<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KeywordDrivenSuite" data-provider-thread-count="3" >
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="KeywordDrivenTest" parallel = "classes" thread-count = "5">
    <classes>
      <class name="com.Test.TestController"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
